
body { 
  background-color:#5e5f61;
  margin:0;
  display:flex;
  flex-direction:row;
  width:100%;
}
a { 
  margin-left:600px;
  margin-top:300px;
}
.mini-side-bar { 
  display:flex;
  flex-direction:column;
  width:50px;
  height:100vh;
  background-color: #7d7f83;
  z-index:200;
  margin-top:0;
}
.center { 
  margin-left:250px;
  width:100%;
  display:flex;
  flex-direction:column;
}
.left { 
  align-self:flex-start;
  border-right:2px solid #5a5b5f;
}
.right { 
  align-items:center;
  align-self:flex-end;
  border-left: 2px solid #5a5b5f;
}
.expanded-side-bar { 
  display:flex;
  flex-direction:column;
  min-width:150px;
  height:100vh;
  background-color: #7d7f83;
  margin-left:-150px;
  z-index:100;
}
.element { 
  display:flex;
  justify-content:center;
  align-items:center;
  border-bottom:1px solid #5a5b5f;
  height:50px;
  width:95%;
}
.values { 
  display:none;
  background-color:#46474b;
  border-right: 3px inset;
  border-left: 3px inset;
  color:white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img { 
  width:30px;
  height:40px;
  max-height:50px;
}
#guitar { 
  margin-top:-60px;
  margin-left:100px;
  width:1100px;
  position:absolute;
}
#one {
  height:48%;
  width:100%;
  background-color:blue;
}
#two {
  height:48%;
  width:100%;
  overflow: hidden;
  background-color:orange;
}
#three { 
  height:5%;
  background-color:#36383a;
}
svg {
  display: block;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top:300px;
  align-items: center;
  min-height: 25%;
}

.waveforms {
  display: flex;
  width: 750px;
  justify-content: center;
  margin: 8px 0;}
.waveform {
    border: 3px solid transparent;
    cursor: pointer;}
.active {
      border: 3px solid #50B9FF;
      border-radius: 2px;
      background-color: #f7f9fb;
}

@keyframes visualize {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-108px);
  }
}

.animated {
  animation: visualize 0.2s linear infinite;
  animation-play-state: paused;
}
.playing .active .animated {
  animation-play-state: running;
}
.button {
  margin-top: 8px;
  height: 36px;
  padding: 8px 30px;
  border-radius: 3px;
  background-color: #c0ccce;
  box-sizing: border-box;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;}
  .button:hover{
    transform:scale(1.1);
    color: #fff;
  }

  /*
html, body {
  height: 100%;
}
 /* For mobile devices 
  @media only screen and (max-width: 767px) {
    body {
      /* The file size of this background image is 93% smaller
       * to improve page load speed on mobile internet connections 
      background-image: url(Artboard1.png);
    }
      }

      */
