
body { 
  background-color:#e2e2e2;
  margin:0;
  display:flex;
  flex-direction:row;
  width:100%;
}
a { 
  margin-left:600px;
  margin-top:300px;
}
canvas { 
  background-color:white;
  border:2px solid #a0a0a0;
  display:flex;
  height:320px;
  width:720px;
  align-self:flex-end;
}
.mini-side-bar { 
  display:flex;
  flex-direction:column;
  width:50px;
  height:100vh;
  background-color: #7d7f83;
  z-index:200;
  margin-top:0;
}
.left { 
  align-self:flex-start;
  border-right:2px solid #5a5b5f;
}
.right { 
  align-items:center;
  align-self:flex-end;
  border-left: 2px solid #5a5b5f;
}
.expanded-side-bar { 
  display:flex;
  flex-direction:column;
  min-width:200px;
  height:100vh;
  background-color: #7d7f83;
  margin-left:-200px;
  z-index:100;
}
.element { 
  display:flex;
  justify-content:center;
  align-items:center;
  border-bottom:1px solid #5a5b5f;
  height:50px;
  width:95%;
}
.values { 
  display:none;
  background-color:#46474b;
  border-right: 3px inset;
  border-left: 3px inset;
  color:white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.img { 
  width:30px;
  height:40px;
  max-height:50px;
}
.grid-container {
  display:flex;
  width:100vw;
  height:100vh;
  margin-left:25vw;
  margin: 0 auto;
}
.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}
.grid-element-small { 
  height: 50vh;
  flex-basis: 33.3%;
  -ms-flex: auto;
  width: 33vw;
  position: relative;
  box-sizing: border-box;
}
.grid-element-large { 
  height: 50vh;
  flex-basis:66.6%;
  -ms-flex: auto;
  width: 33vw;
  position: relative;
  box-sizing: border-box;
}
.mini-grid-item{
  height: 10vh;
  flex-basis: 25%;
  -ms-flex: auto;
  width: 1vw;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  background-color:#ffffff;
  border:1px solid #acacac;
  display:flex;
  align-items:center;
  text-align:center;
  justify-content:center;
}
.mini-grid-item-large{
  height: 10vh;
  flex-basis: 50%;
  -ms-flex: auto;
  width: 1vw;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
  background-color:#ffffff;
  border:1px solid #acacac;
  display:flex;
  align-items:center;
  text-align:center;
  justify-content:center;
}
#increase-tens:hover,#decrease-tens:hover{
  transform:scale(1.1);
  background-color:#bebebe;
}

#t2 { 
  margin-right:0px;
  margin-left:100px;
  margin-top:500px;
  z-index:100;
}
#guitar { 
  margin-top:-450px;
  margin-left:65px;
  width:1300px;
  position:absolute;
  z-index:1;
}
#myCanvas { 
  display:none;
  margin:5 auto;

}
#formula { 
  margin-top:5%;
  max-height:100%;
  max-width:100%;

  z-index: -1;
}
#tune-C { 
  position:absolute;
  z-index:100;
  margin-left:790px;
  margin-top:68px;
}
#tune-A { 
  position:absolute;
  z-index:100;
  margin-left:698px;
  margin-top:258px;
  transform:rotate(180);
}
#tune-G { 
  position:absolute;
  z-index:100;
  margin-left:699px;
  margin-top:72px;
}
#tune-E { 
  position:absolute;
  z-index:100;
  margin-left:788px;
  margin-top:260px;
  transform:rotate(180);
}

#a:hover,#g:hover,#c:hover,#e:hover{
  transform:scale(1.01);
  background-color:#bebebe;
}
